Zotero_Linked_PDFs
Zotero_Linked_PDFs\*
zotero_chrome_profile
zotero_chrome_profile\*
*.csv
chrome_profile
temp_pdfs
"Manual Download"

Downloaded_PDFs
*.log
database.csv
venv
venv\**
.venv
.venv\**
*.db
# Ignore specific JSON files instead of all of them
database.json
settings.json
node_modules
